{% extends 'base.html' %}
{% block content %}
<div class="container marketing mt-5">
    {% if object_list %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for client in object_list %}
        <div class="col">
            <div class="d-flex flex-column align-items-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <polygon points="70,10 130,70 70,130 10,70" fill="var(--bs-secondary-color)"/>
                </svg>
                <h2 class="fw-normal">Клиент {{ client.name }}</h2>
            </div>
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">Email: {{ client.email }}</p>
                    <p class="card-text">Рассылки №:
                        {% for mailing in client.mailing_set.all %}
                        <a href="{% url 'mailings:mailing_detail' mailing.pk %}">{{ mailing.pk }}</a>
                        {% if not forloop.last %}, {% endif %}
                        {% empty %}
                        Нет рассылок
                        {% endfor %}
                    </p>
                    {% if client.comment %}
                    <p class="card-text">Комментарий: {{ client.comment|truncatechars:100 }}</p>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-secondary" href="{% url 'mailings:client_detail' client.pk %}"
                               role="button">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>Упс..</h2>
            <p class="lead">Пока не добавлено ни одного клиента.</p>
        </div>
    </div>
    {% endif %}


    {% if page_obj.paginator.num_pages > 1 %}
    <div class="paginator mt-2">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}
