{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="container marketing mt-5">
    {% if object_list %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for mailing in object_list %}
        <div class="col">
            <div class="d-flex flex-column align-items-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                </svg>
                <h2 class="fw-normal">Рассылка № {{ mailing.pk }}</h2>
            </div>
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">Клиенты:
                        {{ mailing.clients.all|map:"create_link:mailings:client_detail,pk,name"|join_by_comma|safe }} </p>
                    <p class="card-text">Сообщение:
                        <a href="{% url 'mailings:message_detail' mailing.message.pk %}">
                            {{ mailing.message.subject|truncatechars:20 }}</p> </a>
                    <p class="card-text">Периодичность: {{ mailing.get_periodicity_display }}</p>
                    <p class="card-text">
                        <span class="text-body">Статус:</span>
                        {% if mailing.status == 'created' %}
                        <span class="text-success">{{ mailing.get_status_display }}</span>
                        {% elif mailing.status == 'running' %}
                        <span class="text-warning">{{ mailing.get_status_display }}</span>
                        {% else %}
                        <span class="text-danger">{{ mailing.get_status_display }}</span>
                        {% endif %}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-secondary" href="{% url 'mailings:mailing_detail' mailing.pk %}"
                               role="button">Посмотреть</a>
                        </div>
                        <small class="text-body-secondary">{{ mailing.created_at|timesince }}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>Нет ни единой рассылки</h2>
            <p class="lead">Пока нет ни одной созданной рассылки.</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}