{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Клиенты:
                            {{ mailing.clients.all|map:"create_link:mailings:client_detail,pk,name"|join_by_comma|safe }} </p>
                        <p class="card-text">Сообщение:
                            <a href="{% url 'mailings:message_detail' mailing.message.pk %}">
                                {{ mailing.message.subject }}</p> </a>
                        <p class="card-text">Периодичность: {{ mailing.get_periodicity_display }}</p>
                        <p class="card-text">
                            <span class="text-body">Статус:</span>
                            {% if mailing.status == 'created' %}
                            <span class="text-success">{{ mailing.get_status_display }}</span>
                            {% elif mailing.status == 'running' %}
                            <span class="text-warning">{{ mailing.get_status_display }}</span>
                            {% else %}
                            <span class="text-danger">{{ mailing.get_status_display }}</span>
                            {% endif %}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if perms.mailings.can_disable_mailing %}
                                <form method="post" action="{% url 'mailings:mailing_update' mailing.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="status" value="completed">
                                    <button type="submit" class="btn btn-sm btn-success rounded me-1">Отключить
                                        рассылку
                                    </button>
                                </form>
                                <a href="{% url 'mailings:mailing_list' %}"
                                   class="btn btn-sm btn-secondary rounded me-1">Назад</a>
                                {% else %}
                                <a href="{% url 'mailings:mailing_update' object.pk %}"
                                   class="btn btn-sm btn-light rounded me-1">Редактировать</a>
                                <a href="{% url 'mailings:mailing_delete' object.pk %}"
                                   class="btn btn-sm btn-danger rounded me-1">Удалить</a>
                                <a href="{% url 'mailings:mailing_list' %}"
                                   class="btn btn-sm btn-secondary rounded me-1">Назад</a>
                                {% endif %}
                            </div>
                            <small class="text-body-secondary">{{ mailing.created_at|timesince }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}