{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="container marketing mt-5">
    {% if object_list %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for message in object_list %}
        <div class="col">
            <div class="d-flex flex-column align-items-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <polygon points="10,10 100,10 100,100 10,100" fill="var(--bs-secondary-color)"/>
                </svg>
                <h3 class="fw-normal">Тема письма:
                    {{ message.subject|truncatechars:20 }}</h3>
            </div>
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">Текст письма: {{ message.body|truncatechars:50 }}</p>
                    <p class="card-text">Рассылки №:
                        {{ message.mailing_set.all|map:"create_link:mailings:mailing_detail,pk,"|join_by_comma|safe }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-secondary" href="{% url 'mailings:message_detail' message.pk %}"
                               role="button">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>Нет ни одного сообщения</h2>
            <p class="lead">Создайте новое сообщение</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
